.blog-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.blog-display .blog-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ededed;
    border: 1px solid rgb(180, 180, 180);
    padding: 1.5rem 3rem 1rem 3rem;
}

.blog-display .blog-post button {
    padding: 0.5rem 0.75rem;
}
