.blog-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.blog-input .blog-title {
    height: 2rem;
    background-color: rgb(241, 241, 241);
    border: none;
    padding: 0 0.75rem;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.12);
}

.blog-input .blog-description {
    height: 5rem;
    padding: 0.5rem 0.75rem;
}
